name: CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - scala-version: '2.10.7'
            sbt-version: '0.13.18'
          - scala-version: '2.12.8'
            sbt-version: '1.2.8'
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v2.3.0
        with:
          distribution: 'adopt'
          java-version: 8
      - name: Test
        env:
          SCALA_VERSION: ${{ matrix.scala-version }}
          SBT_VERSION: ${{ matrix.sbt-version }}
        run: sbt "++${SCALA_VERSION}" "^^${SBT_VERSION}" test scripted